.header{
    overflow: hidden;
    padding: 20px 100px;
    text-align: center;

}

.header a {
    float: right;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 10px;
  }
 
  }
  .header a:hover {
    text-decoration: underline;
  }